.chat{
    display:  flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.chat_nav, .chat_txt {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_nav {
    background-color: #30A2FF;
}

.chat_txt{
    background-color: #30A2FF;
    /* border-top: .01rem solid white; */
}

.chat_dispaly{
    height: 70vh;
    display: flex;
    flex-direction: row;
}