.chat_dispaly_dropdowns{
    width: 30%;
    background-color: #3AB4F2;
}

.chat_dispaly_content{
    width: 70%;
    background-color: #F5F5F5;
}

.ccc{
    margin: 0 .7rem;
    padding: 1rem ;
    height: 100%;
    border-left: .01rem solid black;
    border-right: .01rem solid black;
    background-color: white;
}