.TextboxContent{
    /* border: 1px solid black; */
    width: 90%;
    height: 2.5rem;
    display: flex;
    /* align-items: end; */
    flex-direction: row;
}

.TextboxContent_input{
    width: 85%;
    /* bac */
    border: 1px solid #ccc;
}

.TextboxContent_input_empty {
    border: 1px solid red;

}

.TextboxContent_send--BsSendFill {
    color: #6875ce;
    margin-right: .3rem ;
    
}

.TextboxContent_send{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #e1e4fb;
    cursor: pointer;
    transition: all .4s;
    color: #6875ce;
    /* border: 0px solid #ccc; */

}

.TextboxContent_send:hover, .TextboxContent_send:hover .TextboxContent_send--BsSendFill  {
    color:white
}

.TextboxContent_send:hover  {
    background-color: #54a5e3;
    transform: translateY(-1px);

}

.TextboxContent_send:active {
    transform: translateY(0px);
}