.ChatDispaly-dropdowns{
    width: 30%;
    background-color: #697bf8;
}

.ChatDispaly-content{
    width: 70%;
    background-color: #F5F5F5;
}

.ChatDispaly-dropdowns__list{
    list-style: none;
}

.ccc{
    margin: 0 .7rem;
    padding: 1rem ;
    height: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: white;
}