.NavContent {
    /* height: 1rem; */
    border: 1px solid black;
    width: 90%;
    height: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.NavContent_logo {
    display: flex;
    align-items: center;
}

.NavContent_logo--title:hover,
.NavContent_logo--icon:hover {
    transform: translateY(-.5rem);
    color: #e2e3f4;
}

.NavContent_logo,
.NavContent_status {
    width: 50%;
}

.NavContent_logo--icon {
    margin-right: 10px;
    transition: all 1s;

}

.NavContent_logo--title {
    color: white;
    transition: all 1s;

}

.NavContent_status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}