.NavContent{
    /* height: 1rem; */
    border: 1px solid black;
    width: 90%;
    height: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.NavContent_logo, .NavContent_status{
    width: 50%;
}

.NavContent_status{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}