.NavContent {
    /* height: 1rem; */
    /* border: 1px solid black; */
    width: 90%;
    height: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.NavContent_logo {
    display: flex;
    align-items: center;
}

.NavContent_logo--title:hover,
.NavContent_logo--icon:hover {
    transform: translateY(-.5rem);
    color: #e2e3f4;
}

.NavContent_logo,
.NavContent_status {
    width: 50%;
}

.NavContent_logo--icon {
    margin-right: 10px;
    transition: all 1s;

}

.NavContent_logo--title {
    color: white;
    transition: all 1s;

}

.NavContent_status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
}

.NavContent_status--BiSolidUser,
.NavContent_status--BsBellFill {
    margin-left: 1.5rem;
    /* position: relative; */
}

.NavContent_status--BiSolidUser,
.NavContent_status--BsBellFill,
.NavContent_status--BsWechat {
    /* cursor: pointer; */
    /* transition: all .3s; */
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .NavContent_status--BiSolidUser:hover,
.NavContent_status--BsBellFill:hover,
.NavContent_status--BsWechat:hover {
    transform: scale(1.15);
} */

.NavContent_status--BiSolidUser--Dropdown,
.NavContent_status--BsBellFill--Dropdown,
.NavContent_status--BsWechat--Dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 6rem;
    top: 2rem;
    left: -2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.NavContent_status--BsBellFill {
    position: relative;
}

.NavContent_status--BsBellFill--notificationIndicator {
    width: 0.438rem;
    height: 0.438rem;
    background-color: #e0e0e0;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: -.2rem;
    left: .85rem;
    /* background-color: #00008B; */
}

.NavContent_status--BiSolidUser:hover .NavContent_status--BiSolidUser--Dropdown,
.NavContent_status--BsBellFill-:hover .NavContent_status--BsBellFill--Dropdown,
.NavContent_status--BsWechat:hover .NavContent_status--BsWechat--Dropdown {
    display: block;
}